# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.env*
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
/backends/*.pyc

# Node.js / Frontend
node_modules/
/frontend/node_modules/
package-lock.json
yarn.lock
*.tgz

# IDE / Editor
.vscode/
.idea/
*.md.local

# Docker
.dockerignore